.header{
    width: 100%;
    // border: solid black;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
}

.in_header{
    width: 70%;
    margin-left: auto;
    padding: 10px;
    margin-right: auto;
    // border: solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .name{
        font-size: 1.7rem;
        color: #58ACFA;
        font-weight: 600;
        cursor: pointer;

        .light{
            color: #045FB4;
        }
    }
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    justify-content: space-evenly;
    min-width: 15rem;
    
    .path{
        cursor: pointer;
        color: $l_main;
    }
    .path:hover{
        color: $main;
    }
    .current{
        cursor: pointer;
        color: $main;
    }

}

